  body {
	box-sizing: border-box;
	background-color: #333;
  }
  
  .container {
	margin: 20px auto;
	width: 1024px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	background-color: #fff;
	box-shadow: 10px 10px 40px -1px rgba(255, 255, 255, 0.5);
  }
  
  .header {
	background: #333;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.header__container {
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	padding: 0px 30px;
	align-items: center;
	justify-content: center;
	min-height: 70PX;
}
.menu__list {
  display: flex;
  align-items: center;
}

.menu__list li {
	position: relative;
	margin-left: 20px;
	padding: 10px 0;
}

.menu__link {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	
}
.menu__link:hover {
  text-decoration: underline;
}
  .colms {
	display: flex;
  }
  
 

  .left {
	width: 42%;
	color: #333;
	background-color: rgba(216, 214, 214, 0.815);
  }
  
  .right {
	width: 58%;
	padding: 40px;
  }

  div.con {
	  margin-top: 30px;
  }
  
  .__mee {
	padding: 30px;
	text-align: center;
	background-color: rgba(216, 214, 214, 0.815);
  }

  .__mee img {
	opacity: 90%;
  }
  
  .__mee h1 {
	margin-bottom: 10px;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.1;
	text-transform: uppercase;
	letter-spacing: 7px;
  }
  
  .__mee h2 {
	margin-bottom: 20px;
	letter-spacing: 2px;
  }
  
  main {
	padding: 0 40px;
  }
  
  main h3 {
	width: 136px;
	margin: 40px auto 20px;
	padding: 5px 20px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	background-color: #333;
  }
  
  main .contacts h3 {
	margin-top: 0;
	margin-bottom: 0;

  }
  
  main li {
	margin-bottom: 10px;
  }
  
  .contacts li img {
	vertical-align: middle;
	margin-right: 15px;
  }
  
  .contacts li p {
	display: inline;
	vertical-align: middle;
  }
  
  .contacts a {
	text-decoration: none;
	color: #333;
  }
  
  main :not(.contacts) ul {
	list-style-type: disc;
	margin-left: 50px;
  }
  
  aside section h3 {
	  text-align: center;
	  margin-bottom: 10px;
  }

  section.pros__cons ul {
	list-style-type: disc;
	margin-top: 10px;
	margin-left: 50px;
  }
  section h4 {
	  text-align: center;
	  margin-top: 20px;
	  text-transform: uppercase;
  }
  .language__name {
	font-weight: 700;
	text-transform: uppercase;
  }
  
  .right .about__header {
	display: flex;
	margin-top: 30px;
	margin-bottom: 15px;
  }
  
  .right .about .about__header {
	margin-top: 0;
  }
  
  .about p {
	margin-bottom: 10px;
	margin-left: 45px;
  }
  
  .about p:last-of-type {
	margin-bottom: 0;
  }
  
  .right h3 {
	flex: 1;
	vertical-align: middle;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #333;
	border-bottom: 2px solid #333;
  }
  

  
  .right p {
	color: #333;
  }
  
  .education p {
	margin-left: 45px;
  }
  
  .education p strong {
	font-weight: 700;
  }
  
  .courses ul {
	list-style-type: disc;
	margin-left: 45px;
	margin-bottom: 30px;
  }
  
  .courses li {
	margin-bottom: 10px;
	color: #333
  }
  

  
  .code__example p {
	margin-left: 45px;
  }
  
  pre {
	  width: 95%;
	margin-right: 200px;
	margin-top: 30px;
	padding-left: 30px;
	font-family: monospace;
	font-size: 0.9rem;
	
	background-color: rgba(216, 214, 214, 0.815);
  }
  
  footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	font-size: 0.8rem;
	color: #ffffff;
	background-color: #333;
	
  }
  
  footer a {
	text-decoration: none;
	color: #ffffff;
  }
  
  footer .github__icon {
	margin-right: 10px;
  }
  
  .my__github {
	display: flex;
	align-items: center;
  }
  